/*start variable*/
:root {
    --background-image: linear-gradient(to top, #B4E2FC, #F9E3F0);
    --main-color: #A1CEF8;
    --secondery-color: #ffffff;
    --main-padding: 100px;
    --button-color: #7baec9;
}

/*end variable*/
/*start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.body {
    overflow: hidden;
}

a, ul li {
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.box-style {
    background-image: var(--background-image);
}

.box {
    background-color: #A1CEF8;
    border-radius: 20px;
    width: 70%;
    height: 85%;
    position: relative;
    left: 170px;
    margin-top: 15px;
}

.animation img {
    width: 50%;
    float: right;
    position: relative;
    left: 170px;
}

/*end global rules*/
/*start fp*/
.fp {
    background-color: #A1CEF8;
    overflow: hidden;
}

.fp .container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 75px;
}

.fp .container .header .logo img {
    border-style: none;
    width: 30%;
    position: relative;
    left: 50px;
}

.fp .container .header .logo p {
    color: black;
    font-style: italic;
    font-weight: bold;
}

.fp .container .header .greet p {
    color: white;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
    position: relative;
    left: 50px;
}

.fp .container .header::after {
    content: " ";
    background-color: black;
    position: absolute;
    width: 150%;
    bottom: 0;
    height: 2px;
    right: -30px;
}

.fp .container .header .right-side .navbar {
    display: flex;
    position: relative;
}

.fp .container .header .right-side .navbar ul li a {
    color: black;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0 10px;
    font-weight: 600;
    position: relative;
    top: 6px;
}

#home:active {
    color: #7baec9;
}

.accept {
    overflow: hidden;
}

.box h1 {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.content {
    display: inline-flex;
    padding: 15px;
    /*padding-top: 20px;*/
}

.content img {
    width: 35%;
}

.information h3 {
    padding: 20px 0 10px 20px;
    font-family: sans-serif;
}

.information p {
    font-size: 18px;
    padding-left: 17px;
}

.stars {
    margin-left: 10px;
    border: 1px solid;
    width: fit-content;
    font-size: 37px;
    color: gold;
    border-color: transparent;
    background-color: #6da2d4;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
}

.accept_btn {
    margin-top: 50px;
    margin-left: 38%;
    height: 55px;
    width: 300px;
        border: 1px solid;
    /*width: fit-content;*/
    font-size: 37px;
    color: white;
    text-align: center;

    border-color: transparent;
    background-color: #6da2d4;
    /*margin-top: 10px;*/
    border-radius: 15px;
}


.stars i:last-child {
    color: white;
}

.box a {
    position: relative;
    background-color: #7baec9;
    color: white;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    font-size: 27px;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 100px;
    left: 450px;
    padding-right: 100px;
}